[Unit]
Description=Joule Bridge HomeKit Controller
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/prostat-bridge
ExecStart=/home/pi/prostat-bridge/venv/bin/python3 /home/pi/prostat-bridge/server.py
Restart=always
RestartSec=10
Environment="PATH=/home/pi/prostat-bridge/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

